table{
  background-color: rgb(151, 107, 55);
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
  height: 200px;
}
th, td, tr{
  background-color: rgb(244, 160, 160);
  border: 1px solid black;
}
body{
  text-align: center;
  background-color: rgb(146, 78, 78);
}
